#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
//   text-transform: uppercase;
  color: hsl(226, 91%, 38%);
}

.home p {
  color: red;
}
